.words {
  &__pair {
    margin-top: 10px;
    margin-bottom: 10px;
    color: blueviolet;

    &__list {
      margin-top: 5px;
    }
  }
}

button {
  margin-top: 10px;
  margin-right: 10px;
}

h3 {
  color: darkblue;
}
